.container {
    display: flex;
    flex-direction: row;
}

.background {
    background-image: url("images/background.png");
    position: absolute;
    margin-left: 45vw; 
    margin-top: 45vh;
    height: 70vh;
    width: 50vw;
    object-fit: fill;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.background button {
    height: 3vh;
    width: 3vw;
    position: absolute;
}

.background .btn1 {
    margin-left: 9.5vw; 
    margin-top: 15.4vw; 
}

.background .btnD {
    margin-left: 20vw; 
    margin-top: 15.4vw; 
}

.background .btnMid {
    margin-left: 23.5vw; 
    margin-top: 15.4vw; 
}

.background .btnB {
    margin-left: 27.5vw; 
    margin-top: 15.4vw; 
}

.background .btn2 {
    margin-left: 38vw; 
    margin-top: 15.4vw; 
}

.background .btnC {
    margin-left: 23.5vw; 
    margin-top: 19.4vw; 
}

.background .btnA {
    margin-left: 23.5vw; 
    margin-top: 11.4vw; 
}

.background .btnNorth {
    margin-left: 23.5vw; 
    margin-top: 3.4vw; 
}

.background .btnSouth {
    margin-left: 23.5vw; 
    margin-top: 28.4vw; 
}